@media (prefers-reduced-motion: no-preference) {
  .App-logo-contact {
    animation: App-logo-contact-spin infinite 20s linear;
  }
}

@keyframes App-logo-contact-spin {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}

.App-logo-contact {
  height: 40vmin;
  pointer-events: none;
}

.App-logo-contact>g {
  fill: lightcoral;
}